//line target positoning

#desc-target{
	position: absolute;
	top: 0;
	right: 15px;
}
#att-target{
	position: absolute;
	right: 15px;
	@media(max-width: 768){
	right: 35px;
	}
	top: 90px;
}
#rel-target{
	position: absolute;
	left: 20px;
	top: 65px;
}
.res-targets{
	position: absolute;
	left: 5.5rem;
	top: 5.5rem;
}

#int-wrap{
	#top-target{
	transform:translate(-13px, 30px);
	}
	#bot-target{
	transform:translate(-13px, 50px);
	}
	@media(min-width: 1200px){
		#top-target{
		transform:translate(-18px, 40px);
		}
		#bot-target{
		transform:translate(-18px, 68px);
		}
	}
}
#enearrow{
	width:5px;
}