//Imports
@import "bootstrap/bootstrap";

//User Styles

//Global Styles
$red: #D50032;
$gold: #ED8B00;
$black: #373A36;
$d-black: #222222;
$l-gray:#E5E5E5;
$white: #fff;
$fontserif: 'Arvo', serif;
$fontsans: 'Libre Franklin', sans-serif;

html{
	font-size: 12px;
}

body{
  background: $white;
  font-family: $fontsans;
}
a{
	color:black;
}
.serif-head{
	text-transform: uppercase;
	font-family: $fontserif;
}

section{
	border-top: 1px solid grey;
}
.swirl{
	position: absolute;
	z-index: 0;
	left: 0;
	right: 0;
	top:250px;
	margin: auto;
	img{
		width:100%;
		max-width: 800px;

	}
	
}

//Homepage Styles
.home-wrapper{
	.row{
	min-height: 30vh;
	}
	p{
		text-transform: uppercase;
	}
	.homelink{
		&::before{
			content:"";
			 display: inline-block;
    		transform: translateY(0.15rem);
			margin-right: 10px;
			  height:1rem;
			  width:1rem;
			  background-size: 1rem 1rem;
			  background-image: url(/img/circle.svg);
			  background-repeat: no-repeat;
		}
	}
}

#indexnav{
	position: fixed;
	top:20vh;
    z-index: 1000;
    display: block;
    text-transform: uppercase;
    transform:translateX(-150px);
    transition:all 0.2s ease;
    .list-group-item {
    position: relative;
    display: block;
    width:120px;
    padding: 0.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1px;
    background-color: #fff;
    background:$l-gray;
    border: unset;
    border-radius: 0;
    transition:all 0.2s ease;
    &.active{
    	background: $gold;
    	width: 140px;
    }
    &:hover{
    	background: $gold;
    	text-decoration: none;
    	color: $white;
    }
	}
    &.shown{
    	transform:unset;
    }
}
#home-hero{
	z-index: 100;
	position: relative;
		min-height: unset !important;
		background: url("/img/home-hero-bg.jpg") no-repeat center center fixed;
		 -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	.container-fluid{
			padding: 20px 35px;
			.row{
				min-height: 60vh;
				color:$white;
				background:$d-black;
			}
		}
	h1{
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;

		top: 95px;
		z-index: 3;
		font-size: 1.5rem;
		font-weight: bold;
		color:$white;
		span{
			color:$red;
		}

	}
	p{
		font-size: 12rem;
		position: relative;
		z-index: 2;
		color:black;
		font-family: $fontserif;
		font-weight: bold;

		span{
			padding-left: 100px;
		}
	}
	@media(max-width: 590px){
		p{
			font-size: 3rem;
		}
	}
	img{
		height:50px;
		transform: translate(50px, -10px);
		position: absolute;
	}
}

#home-about{
	.aboutlink{
	transform: translateY(-50px);
	}
	.messlink{
	transform: translateY(10px);
	}
}

#home-stats{
	.statsbox{
		padding:8px;
		background:$l-gray;
		.statsrows{
			color: $red;
			font-family: $fontserif;
			list-style: none;
			padding:0;
			li{
				img{
					width:10%;
					display: inline-block;
				}
				p{
					width:70%;
					display: inline-block;
				}
				span{
					
					width:12%;
					font-size: 3rem;
					font-weight: bold;
					display: inline-block;
				}
			}
		}
	}
}
