<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{.Title}}</title>
  <meta name="description" content="{{.Summary}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- stylesheets -->
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css">
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{ $js := resources.Get "js/bootstrap.bundle.min.js" | resources.Minify | resources.Fingerprint }}
  {{ $jsmain:= resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
   <script src="{{ $js.Permalink }}"></script>
   <script src="{{ $jsmain.Permalink }}"></script>
  <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Libre+Franklin:300,400,400i,600,600i&display=swap" rel="stylesheet">
</head>


    {{ if .IsHome }}
    <body data-spy="scroll" data-target="#indexnav" data-offset="50" >
         <!-- nav -->
        <div id="indexnav" class="list-group"  data-spy="affix" data-offset-top="205">
          <a class="list-group-item" href="#home-about"><p>About AIC</p></a>
          <a class="list-group-item" href="#home-stats"><p>Statistics</p></a>
          <a class="list-group-item" href="#home-res"><p>Research</p></a>
          <a class="list-group-item" href="#home-att"><p>Attitudes & Relationships</p></a>
          <a class="list-group-item" href="#home-part"><p>Partners</p></a>
        </div>
        <!-- mob nav -->
      <button id="mobnav-button" class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div id="mobnav" class="list-group" data-spy="affix" data-offset-top="205">
          <a class="list-group-item" href="#home-about"><p>About AI</p></a>
          <a class="list-group-item" href="#home-stats"><p>Statistics</p></a>
          <a class="list-group-item" href="#home-res"><p>Research</p></a>
          <a class="list-group-item" href="#home-att"><p>Attitudes & Relationships</p></a>
          <a class="list-group-item" href="#home-part"><p>Partners</p></a>
        </div>
        <div id="nav-bg"></div>
      {{ else }}
      <body >
       <!-- nav -->
        <div id="indexnav" class="list-group shown">
          <a class="list-group-item" href="{{.Site.BaseURL}}"><p>Home</p></a>
          <a class='list-group-item {{ if eq .File.LogicalName "about.md" }}active{{end}}' href="{{.Site.BaseURL}}about"><p>About AIC</p></a>
          <a class='list-group-item {{ if eq .File.LogicalName "messages.md" }}active{{end}}' href="{{.Site.BaseURL}}messages"><p>Messages</p></a>
          <a class='list-group-item {{ if eq .Section "research" }}active{{end}}' href="{{.Site.BaseURL}}research"><p>Research</p></a> 
            <ul class='{{ if ne .Section "research" }}d-none{{end}}'>
              {{ range sort (where .Site.RegularPages "Section" "research") "Params.order" }}
              <li><a href="{{ .Permalink }}" class=''><p>{{.Title}}</p></a></li>
              {{ end }}
            </ul>
          <a class='list-group-item {{ if eq .File.LogicalName "attitudes.md" }}active{{end}}' href="{{.Site.BaseURL}}attitudes"><p>Attitudes</p></a>
          <a class='list-group-item {{ if eq .File.LogicalName "relationships.md" }}active{{end}}' href="{{.Site.BaseURL}}relationships"><p>Relationships</p></a>
        </div>

         <!-- mob nav -->
      <button id="mobnav-button" class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div id="mobnav" class="list-group">
        <a class="list-group-item" href="{{.Site.BaseURL}}"><p>Home</p></a>
          <a class='list-group-item {{ if eq .File.LogicalName "about.md" }}active{{end}}' href="{{.Site.BaseURL}}about"><p>About AIC</p></a>
          <a class='list-group-item {{ if eq .File.LogicalName "messages.md" }}active{{end}}' href="{{.Site.BaseURL}}messages"><p>Messages</p></a>
          <a class='list-group-item {{ if eq .Section "research" }}active{{end}}' href="{{.Site.BaseURL}}research"><p>Research</p></a> 
            <ul class='{{ if ne .Section "research" }}d-none{{end}}'>
              {{ range sort (where .Site.RegularPages "Section" "research") "Params.order" }}
              <li><a href="{{ .Permalink }}" class=''><p>{{.Title}}</p></a></li>
              {{ end }}
            </ul>
          <a class='list-group-item {{ if eq .File.LogicalName "attitudes.md" }}active{{end}}' href="{{.Site.BaseURL}}attitudes"><p>Attitudes</p></a>
          <a class='list-group-item {{ if eq .File.LogicalName "relationships.md" }}active{{end}}' href="{{.Site.BaseURL}}relationships"><p>Relationships</p></a>
        </div>
        <div id="nav-bg"></div>
      {{ end }}

  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  {{ block "main" . }}

  {{ end }}

          <section id="download">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-5 col-8 text-center">
                  <p>Explore the AIC's research, leadership and insights in the full 2014-2018 report</p>
                  <a href="{{.Site.BaseURL}}AIC Final Report-14-18.pdf">Download Complete Report</a>
                </div>
              </div>
            </div>
          </section>

          <!-- footer title -->
          <section id="home-title">
            <div class="container">
              <div class="row">
                <div class="col-12 text-center hero-title-style">
                  <h1>From Discovery to <span>Impact</span></h1>
                  <p>2014<span>2018</span></p>
                </div>
              </div>
            </div>
          </section>
          <!-- partners -->
          <section id="home-part">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 text-center">
                  <p>An Initiative Of</p>
                  <!--<img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/partners-1.svg">-->

                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-5.png">
                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-6.png">
                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-7.png">
                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-17.png">
                  <p>In Collaboration With</p>
                  <!--<img class="pr-lg-5 lazyload" data-src="{{.Site.BaseURL}}img/partners/partners-2.svg">-->
                  <!--<img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/partners-3.svg">-->

                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-3.png">
                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-1.png">
                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-4.png">
                  <br/>
                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-15.png">
                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-16.png">
                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-2.png">
                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-14.png">
                  <p>Supported By</p>
                  <!--<img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/partners-4.svg">-->

                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-10.png">
                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-8.png">
                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-9.png">
                  <p>With Corporate Partners</p>
                  <!--<img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/partners-5.svg">-->

                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-11.png">
                  <img class="lazyload large-logo" data-src="{{.Site.BaseURL}}img/partners/logos/partners-13.png">
                  <img class="lazyload" data-src="{{.Site.BaseURL}}img/partners/logos/partners-12.png">
                </div>
              </div>
            </div>
          </section>

</body>

</html>
