{{ define "main" }}


<svg class="linesvg">
  <line class="drawnline  mobline" id="intline" />
 </svg>

 <div class="body-sans-lines">

{{ partial "int-hero" . }}

<section id="int-wrap" class="single-page">
	<div class="container">
              <div class="row align-items-center justify-content-center">
              	<div class="col-12 col-lg-9"><img class="lazyload" src="{{.Site.BaseURL}}img/uploads/{{.Params.img}}"></div>
                <div class="col-12 col-lg-9">
                	<h1 class="serif-head">{{ .Title }}</h1>
    			{{ .Content }}

          {{ if or (eq .Section "research") (eq .File.LogicalName "attitudes.md") }}<p class="asterisk">*Does not include in-kind investment</p>{{ end }}

                </div>
            </div>
        </div>

</section>


{{end}}
