 <section id="int-hero">
 	<!-- swirl 
      <div class="container swirl"><div class="row"><div class="col-12"> <img class="swirl" src="{{.Site.BaseURL}}img/swirl-1.svg" ></div></div></div>-->
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center  swirlbg">
        <div class="col-12 text-center hero-title-style">
          <h2>From Discovery to <span>Impact</span></h2>
          <p><a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}img/logo-b.svg"></a>2014<span>2018</span></p>
        </div>
      </div>
    </div>
  </section>